/* Footer
--------------------------------------------------------------*/

.footer {
    background: $black;
    color: $light-grey-2;
    display:block;
    padding: $baseline*2 0 $baseline;
    position:relative;
}